<!DOCTYPE html>
<html>

<head>
    <title>UD</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="bodyGradient">
        <header class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <h1><a style="background-color:transparent" href="/">Request Spleen</a></h1>
                </div>
            </div>
        </header>
        <div class="main">
            <div class="container text-center">
                <h3>In search for passwords</h3>
            </div>
        </div>
        <div id="searchContainer" class="secondaryHeader">
            <div class="container">
                <form class="navbar-collapse" action="/" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter credentials..." name="srch"><br>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search</button><br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="invalidAccount" class="pwnedSearchResult panel-collapse  collapse ">
        <div class="container">
            <div class="row pwnResultBanner">
                <h2>
                </h2>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row pwnedSummaryRow">
            <div>
                {% if not search_query %}
                <h3>Let's start</h3>
                {% else %}
                <h3>Search Result for : {{ search_query }}</h3>
                {% endif %}
            </div>
        </div>
        <hr/>
        <table style="table-layout: fixed;" class="table">
            {% if search_query %}
                <tr>
                    <th>Source</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
                {% if not result_list %}
                <tr>
                    <td>No matches</td>
                    <td>No matches</td>
                </tr>
                {% else %}
                {% for item in result_list %}
                <tr>
                    <td>{{ item['leak_source'] }}</td>
                    <td>{{ item['email'] }}</td>
                    <td>
                        {% if item['password'] %}
                           {{ item['password'] }}
                        {% endif %}
                        {% if item['password_hash'] %}
                            {{ item['password_hash'] }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            {% endif %}
            <table>
                <footer>
                    <div class="container text-center">
                        <hr/>
                        <p><a href="/">A Under Defense project</a></p>
                    </div>
                </footer>
</body>

</html>